body {
    margin: 0;
    padding: 0;
    
}

.header {
    background-image: url(img/fon.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.main_link {
    position: absolute;
    padding-top: 20px;
    padding-left: 1024px;
}

.link {
    display: flex;
    
    width: 818px;

}

.podarki {
    margin-right: 50px;
}

.place {
    margin-right: 50px;
}

.links {
    text-decoration: none;
    font-size: 30px;
    color: #704c70;
    transition:linear 0.3s;
    
}

.links:hover {
    color: rgb(0, 0, 0);
}

.btn {
    background-color: #e99b0c;
    border: 0px;
    border-radius: 14px;
    
}

.pozdr {
    color: #e99b0c;
}
.priv {
    position: absolute;
    color: #f1f1f1;
    text-align: left;

}

.conteiner {
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
}






.footer {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(img/ww.png) ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}


.img_voron {
    size: 20px;
    width: 300px;
    border-radius: 30%;
    margin-top: 20px;
    box-shadow: rgb(43, 42, 42) 4px 0px 4px 14px;
}
.main_text {
    width: 1024px ;
    margin-top: 0px;
    font-size: 60px;
    font-weight: bold;
    color: #e99b0c;
    margin-left: 900px;
    align-items: center;
    
}

.list {
    width: 1024px ;
    margin-top: 0px;
    font-size: 40px;
    font-weight: bold;
    color: #e99b0c;
    margin-left: 0px;
}
.a {
    margin-left: 0px;
}
.b {
    margin-left: 250px;
}
.c {
    margin-left: 500px;
}

.text{
    display: flex;
    align-items: center;
}
.list {
    display: flex;
    align-items: center;
}
.footer_text {
    text-shadow: 6px 3px 10px rgb(14, 13, 13) ;
}
.links_2 {
    text-decoration: none;
    color: #e99b0c;
    transition: linear 0.3s;
}
.links_2:hover {
    color: #f1f1f1;
}






.main_text_after_list {
    width: 60%;
    padding-top: 3%;
    padding-left: 25%;
    
}

.some_text_after_list {
    text-align: center;
    text-shadow: 3px 0px 10px #f1f1f1;
}







.end {
    background-image: url(img/торт.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.text_after_list {
    color: black;
    border-radius: 50%;


}

.some_text_after_list {

    align-items: center;
    font-size: 28pt;
    font-weight: bold;
    font-family: ;
}



ul {
    list-style-image: url(img/ttt.png);
    
}